.title {
  // margin-bottom: 50px;
  @include font(700, 28px, 1.17, null);
  text-align: center;
  color: var(--title-text-color);
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}
