:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-hover: #188ce8;
  --primary-white-color: #ffffff;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --top-border: #ececec;
  --bottom-border: #eeeeee;
  --icons-color: #afb1b8;
  --card-gap: 30px;
}
